body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
    background-color: #F1F8E9;
}
nav{
    display:flex;
    justify-content: center;
    background-color: #1B5E20;

}
nav a{
    color: white;
    padding: 14px 20px;
    text-transform: uppercase;
    text-decoration: none;
}
nav a:hover{
    background-color:#FBC02D ;
}
table, td, th{
    border: 1px solid #CFD8DC;
}
table{
    width: 70%;
    margin-top: 45px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #FAFAFA;
  
}
h1{
    color: black;
}
h3{
    color: #1B5E20;
    text-align: center;
    margin-top: 4%;
}
footer{
    text-align: center;
    padding: 10px;
    margin-top: auto;
    color: #4CAF50;
}
/*Formatação para Tablets e Celulares (menor que 768px)*/
@media screen and (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;  
        flex-wrap: wrap;      
    }
    img{
        max-width: auto;
        max-height: 100%;
    }
}
/*Formatação para telas menores(pequenininhas: 480px)*/
@media screen and (max-width: 480px){
    .conteúdo{
        display: flex;
        font-size: 14px;
        padding: 10px;
    }
    img{
        max-width: 100%;
    }

}